.question-paper-container {
    max-width: 900px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .question-paper-container h2 {
    margin-bottom:8px ;
    text-align: center;
    font-size: 32px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .question-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }
  
  .question-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-Sizing: border-box;
  }
  
  .submitBtn {
    background-color: #10b981;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submitBtn:hover {
    background-color: #059669;
  }
  
  /* Responsive Design */
  @media (min-width: 600px) {
    .question-field input {
      flex: 1;
    }
  }
  